body {
    font-family: "Azeret Mono", monospace;
    margin: 0;
    padding: 0;
    background-color: #DDFFDB;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    flex: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header .logo img {
    height: 64px;
    border-radius: 50%;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    max-width: 500px;
    width: 100%;
}

.quiz-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-number {
    font-size: 2rem;
    font-family: "Azeret Mono", monospace;
    margin-bottom: 1rem;
}

.quiz-image img {
    max-width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
}

.options div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9AEC98;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.options input[type="radio"] {
    display: none;
}

.options input[type="radio"]:checked + label {
    border-color: black;
}

.options label {
    font-family: "Azeret Mono", monospace;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid transparent;
}

.submit-button {
    font-family: "Azeret Mono", monospace;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #9AEC98;
    color: black;
    text-decoration: none;
    padding: 1rem 2rem;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 2rem;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #7ED57C;
}

footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.logout-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}