body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DDFFDB;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    flex: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header .logo img {
    height: 64px;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav ul li {
    font-family: "Azeret Mono", monospace;
    font-size: 1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #fff;
    width: 300px;
    text-align: center;
}

.quiz-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Optional: Center the cards horizontally */
    align-items: center;   /* Optional: Center the cards vertically */
    gap: 2rem;
}

.quiz-card {
    background-color: #fff;
    text-align: center;
    border: 1px solid #000;
    border-radius: 10px;
    width: 200px;
}

.quiz-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-image {
    width: 150px;      /* Set a fixed width */
    height: 150px;     /* Set a fixed height */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border-radius: 10px;  /* Rounded corners */
    outline: 2px solid #000; /* Add an outline */
    outline-offset: -2px;   /* Slightly inset the outline */
}

.quiz-header {
    border-bottom: 1px solid #000;
    margin-bottom: 1rem;
}

.quiz-header {
    color: #888;
    font-size: 1rem;
}

.quiz-footer {
    border-top: 1px solid #000;
    margin-top: 1rem;
    padding: 1rem;
}

.quiz-button {
    background-color: #DDFFDB;
    color: #000;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    outline: 2px solid #000;
    outline-offset: -2px;
    margin: 1rem auto;
    text-align: center;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.logout-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}