body {
    font-family: "Azeret Mono", monospace;
    margin: 0;
    padding: 0;
    background-color: #DDFFDB;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    flex: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header .logo img {
    height: 64px;
    border-radius: 50%;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.quiz-section {
    text-align: center;
    padding: 2rem;
}

.quiz-section h1 {
    font-family: "Azeret Mono", monospace;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.2em;
}

.quiz-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.quiz-card {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    overflow: hidden;
}

.quiz-card a {
    text-decoration: none;
    color: inherit;
}


.quiz-card-title {
    font-family: "Azeret Mono", monospace;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #9AEC98;
    padding: 0.5rem;
}

.quiz-card-title:hover {
    background-color: #7fdd72;
}

.intro-section {
    text-align: center;
    padding: 2rem;
}


a {
    text-decoration: none;
    color: inherit;
}

footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.logout-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}