body {
    font-family:"Azeret Mono", monospace;
    margin: 0;
    padding: 0;
    background-color: #DDFFDB;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    flex: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header .logo img {
    height: 64px;
    border-radius: 50%;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.form-container {
    text-align: center;
    padding: 2rem;
}

form .audio-controls {
    max-width: 100%;
    border: 2px solid black;
    border-radius: 50px;
    margin-bottom: 0.5rem;
}

form div {
    margin-bottom: 1rem;
}

form label {
    display: inline-block;
    margin-left: 0.5rem;
}

form button {
    font-family: "Azeret Mono", monospace;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #9AEC98;
    color: black;
    text-decoration: none;
    padding: 1rem 2rem;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
    margin-top: 2rem;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #7ED57C;
}

h1 {
    text-align: center;
    font-family: "Azeret Mono", monospace;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.2em;
    margin-top: 2rem;
}

p {
    text-align: center;
    font-family: "Azeret Mono", monospace;
    font-size: 1.5rem;
    margin-top: 1rem;
}

p span {
    font-weight: bold;
    color: #9AEC98;
}

footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.logout-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}
