<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Songs Limit Reached</title>
</head>
<body>
    <p>
    You've reached the limit for adding songs to the playlist. Play More Quizzes to add more songs.
    </p>
    

    <button id = "exitButton">Exit</button>

    <script>
      var exitButton = document.getElementById("exitButton");
      exitButton.addEventListener('click', function() {
        window.parent.postMessage("closePopup");
      });
    
    </script>

</body>
</html>