<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collaborative Playlist</title>
    <style>
      
        #addSongsPage {
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(59, 59, 59, 0.4);
        }

        #addSongs-content {
            background-color: white;
            margin: 10% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 50%;
        }

    </style>
</head>
<body>
    <a href="joinPlaylist" id = "joinButton">
        <button>
            <span>Join Playlist</span>
        </button>
    </a>

   
    <button id = "addSongsButton">Add Songs</button>


    <div id="addSongsPage">
        <div id = "addSongs-content">
            <iframe src="addSongsPopup" style="width:100%; height:400px; border:none;"></iframe>
        </div>
    </div>


    <h1 th:text="${playlistName}">Playlist Name</h1>
    <p th:text="${playlistDescription}">Playlist Description</p>
    <p th:text="${playlistUrl}">Playlist URL</p>

    <h2>Tracks:</h2>
    <ul>
        <li th:each="item : ${tracks}">
            <img th:src="${item.track.album.images[0].url}" alt="Album Cover" style="width: 200px; height: 200px;"/>
            <span th:text="${item.track.name}">Track Name</span> By
            <span th:text="${item.track.artists[0].name}">Artist</span>
        </li>
    </ul>

    <script>
        var joinButton = document.getElementById("joinButton");
        joinButton.addEventListener('click', joinPlaylist);
        
        function joinPlaylist(evt) {
            const joinPopup = window.open('https://open.spotify.com/playlist/57E2lj7B6neeSqhqCs51RJ?si=2010bd8d34684168&pt=e72a465f4d35b69136ae1dac0b115ee9',
             'Join Playlist', 'width=1,height=1,top=1000,left=1000');
            setTimeout(() => logoutPopup.close(), 3000);
    
            evt.preventDefault();
            setTimeout(() => location.reload(), 3000);

            fetch('/joinPlaylist', {
        method: 'GET', // Use the appropriate HTTP method
        headers: {
            'Content-Type': 'application/json'
        }})
        }
    
        var addSongsButton = document.getElementById("addSongsButton");
        addSongsButton.addEventListener('click', addSongs);
        
        function addSongs(evt) {
            addSongsPage.style.display = "block";
        }

        window.addEventListener('message', function(evt) {
        if (evt.data === 'closeAddSongsPopup') {
            addSongsPage.style.display = "none";
            window.location.reload();
        }
    });
        window.addEventListener('message', function(evt) {
        if (evt.data === 'closeSongLimitPopup') {
            addSongsPage.style.display = "none";
        }
    });
    
    </script>
</body>
</html>