<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HarmonIQ</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/error.css">
    <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/"><img src="/images/harmoniqlogo.png" alt="Logo"></a>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/quizzes/getAll">Quiz</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>"Hello from the other side..." 🎵</h1>
        <p>Sorry, something went wrong, let's go back <a href="/">home</a></p>
    </main>
    <footer>
        <a href="/logout" id="logoutButton"><button class="logout-button">Log Out</button></a>
    </footer>
</body>
<script>
    var logoutButton = document.getElementById("logoutButton");
    logoutButton.addEventListener('click', userLogout);
    
    function userLogout(evt) {
        const logoutPopup = window.open('https://www.spotify.com/logout/', 'Spotify Logout', 'width=1,height=1,top=1000,left=1000');
        setTimeout(() => logoutPopup.close(), 500);

        evt.preventDefault();
        setTimeout(() => location.reload(), 500);
    }
</script>
</html>