<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HarmonIQ</title>
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="logo">
                <a href="/"><img src="/images/harmoniqlogo.png" alt="Logo"></a>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/quizzes/getAll">Quiz</a></li>
                    <li><a href="/playlist">Collaborative Playlist</a></li>
                </ul>
            </nav>
        </header>
        <main >
            <p th:if="${error}">
                <span th:text="${error}"></span>
            </p>
            <div class="profile-section">
                <img class="profile-pic" th:src="${user.imageUrl}" th:alt="${user.displayName}">
                <h1 th:text="${user.displayName}"></h1>
                <div class="stats">
                    <div class="stat">
                        <span class="stat-number" th:text="${user.followers}"></span>
                        <span class="stat-label">Followers</span>
                    </div>
                </div>
            </div>
            <div class="content-section">  
                <h2>Top Artists</h2>
                <div class="card-container">
                    <div th:each="artist, iterStat : ${topArtists}" class="card" th:if="${iterStat.index < 5}">
                        <div class="card-header">
                            <p class="order" th:text = "${iterStat.index + 1}"></p>
                        </div>
                        <div class="card-content">
                            <a th:href="${artist.spotifyUrl}" target="_blank">
                                <img th:src="${artist.imageUrl}" th:alt="${artist.name}" class="artist-image">
                            </a>
                        </div>
                        <div class="card-footer">
                            <a th:href="${artist.spotifyUrl}" target="_blank">
                                <p th:text="${artist.name}" class="artist-name"></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-section">
                <h2>Top Tracks</h2>
                <div class="card-container">
                    <div th:each="track, iterStat : ${topTracks}"class="card" th:if="${iterStat.index < 5}">
                        <div class="card-header">
                            <p class="order" th:text ="${iterStat.index + 1}"></p>
                        </div>
                        <div class="card-content">
                            <a th:href="${track.spotifyUrl}" target="_blank">
                                <img th:src="${track.albumCoverUrl}" th:alt="${track.name}">
                            </a>
                        </div>
                        <div class="card-footer">
                            <a th:href="${track.spotifyUrl}" target="_blank">
                                <p th:text="${track.name}" class="track-name"></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer>
        <a href="/logout" id="logoutButton"><button class="logout-button">Log Out</button></a>
    </footer>
</body>
<script>
    var logoutButton = document.getElementById("logoutButton");
    logoutButton.addEventListener('click', userLogout);
    
    function userLogout(evt) {
        const logoutPopup = window.open('https://www.spotify.com/logout/', 'Spotify Logout', 'width=1,height=1,top=1000,left=1000');
        setTimeout(() => logoutPopup.close(), 500);

        evt.preventDefault();
        setTimeout(() => location.reload(), 500);
    }
</script>
</html>