<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Album</title>
</head>
<body>
    <header>
        <div>
            <a href="/index.html"><img th:src="@{/images/harmoniqlogo.png}" alt="Logo"></a>
        </div>
    <form id="quizForm">
        <div class="quiz-container">
      
          <div id="question1" class="question">
            <img src="####" alt="Question 1 Image" class="question-image">
            <h2>Question 1:</h2>
            <p>What album's cover is this?</p>
            <input type="radio" name="q1" value="a">Taylor Swift<br>
            <input type="radio" name="q1" value="b">Sabrina Carpenter<br>
            <input type="radio" name="q1" value="c">Dua Lipa<br>
            <input type="radio" name="q1" value="d">Ariana Grande<br>
          </div>
      
        </div>
    </form>
</body>
</html>