<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Album</title>
    <link rel="stylesheet" th:href="@{/css/album-cover-quiz.css}">
    <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <header>
            <div class = "logo">
                <a href="/index.html"><img th:src="@{/images/harmoniqlogo.png}" alt="Logo"></a>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/quizzes/getAll">Album Quiz</a></li>
                    <li><a href="/playlist">Collaborative Playlist</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <form th:action="@{/AlbumQuiz/submit}" method="post" class="form-container">
                <input type="hidden" name="questionId" th:value="${questionId}" />
                <input type="hidden" name="quizId" th:value="${quizId}" />
                <div class="quiz-content">
                    <div class="quiz-image">
                        <img th:src="${question.getQuestionUrl()}"  alt="Quiz Image">
                    </div>
                    <div class="options" th:each="option : ${options}">
                        <div>
                            <input type="radio" th:id="${option}" name="selectedOption" th:value="${option}" required />
                            <label th:for="${option}" th:text="${option}"></label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="submit-button">Submit</button>
            </form>
        </main>
    </div>
    <footer>
        <a href="/logout" id="logoutButton"><button class="logout-button">Log Out</button></a>
    </footer>
</body>
<script>
    var logoutButton = document.getElementById("logoutButton");
    logoutButton.addEventListener('click', userLogout);
    
    function userLogout(evt) {
        const logoutPopup = window.open('https://www.spotify.com/logout/', 'Spotify Logout', 'width=1,height=1,top=1000,left=1000');
        setTimeout(() => logoutPopup.close(), 500);

        evt.preventDefault();
        setTimeout(() => location.reload(), 500);
    }
</script>
</html>