<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/album-cover-quiz.css}">
<head>
    <title>Album Cover Quizzes</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class = "logo">
                <a href="/index.html"><img th:src="@{/images/harmoniqlogo.png}" alt="Logo"></a>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/quiz.html">Quiz</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="quiz-container">
        <a th:each="quiz : ${albumCoverQuizzes}" 
           th:href="@{/album-cover-quiz/quiz/{id}(id=${quiz.id})}"  
           class="quiz-button">
            <img th:src="${quiz.questions[0].albumCoverUrl}" 
                 alt="Album Cover" 
                 class="quiz-image" />
        </a>
    </div>
    <footer>
        <a href="/logout" id="logoutButton"><button class="logout-button">Log Out</button></a>
    </footer>
</body>
<script>
    var logoutButton = document.getElementById("logoutButton");
    logoutButton.addEventListener('click', userLogout);
    
    function userLogout(evt) {
        const logoutPopup = window.open('https://www.spotify.com/logout/', 'Spotify Logout', 'width=1,height=1,top=1000,left=1000');
        setTimeout(() => logoutPopup.close(), 500);

        evt.preventDefault();
        setTimeout(() => location.reload(), 500);
    }
</script>
</html>