<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Album</title>
    <link rel="stylesheet" th:href="@{/css/album-cover-quiz.css}">
</head>
<body>
    <header>
        <div class = "logo">
            <a href="/index.html"><img th:src="@{/images/harmoniqlogo.png}" alt="Logo"></a>
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Quiz</a></li>
            </ul>
        </nav>
    </header>
    <form th:action="@{/quizzes/AlbumCoverQuiz/submit}" method="post" class="form-container">
        <input type="hidden" name="questionId" th:value="${questionId}" />
        <img th:src="@{/{imagePath}(imagePath=${quiz.questionPath})}" alt="Quiz Image" th:width="150px" th:height="150px">
        <div th:each="option : ${options}">
            <input type="radio" th:id="${option}" name="selectedOption" th:value="${option}" required />
            <label th:for="${option}" th:text="${option}"></label>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>