<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Results</title>
    <link rel="stylesheet" th:href="@{/css/all-album-quizzes.css}">
    <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <header>
            <div class = "logo">
                <a href="/toProfile"><img th:src="@{/images/harmoniqlogo.png}" alt="Logo"></a>
            </div>
            <nav>
                <ul>
                    <li><a href="/toProfile">Home</a></li>
                    <li><a href="/quizzes/getAll">Album Quiz</a></li>
                    <li><a href="/playlist">Collaborative Playlist</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <main>
        <div class="result">
            <h1>Quiz Results</h1>
            <p>Thank you for taking the quiz!</p>
            <p>Go back to quizzes <a href="/quizzes/getAll" class="quiz-button">GO!</a></p>
            <p>Your Score: <span th:text="${score}"></span></p>
        <div>
    </main>
    <footer>
        <a href="/logout" id="logoutButton"><button class="logout-button">Log Out</button></a>
    </footer>
</body>
<script>
    var logoutButton = document.getElementById("logoutButton");
    logoutButton.addEventListener('click', userLogout);
    
    function userLogout(evt) {
        const logoutPopup = window.open('https://www.spotify.com/logout/', 'Spotify Logout', 'width=1,height=1,top=1000,left=1000');
        setTimeout(() => logoutPopup.close(), 500);

        evt.preventDefault();
        setTimeout(() => location.reload(), 500);
    }
</script>
</html>