<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/all-album-quizzes.css}">
<body>
    <div class="wrapper">
        <header>
            <div class = "logo">
                <a href="/index.html"><img th:src="@{/images/harmoniqlogo.png}" alt="Logo"></a>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/quizzes/getAll">Quiz</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <main>
        <div class="result">
            <h1>Quiz Results</h1>
            <p>Your Score: <span th:text="${score}"></span></p>
        <div>
    </main>
    <footer>
        <a href="/logout" id="logoutButton"><button class="logout-button">Log Out</button></a>
    </footer>
</body>
<script>
    var logoutButton = document.getElementById("logoutButton");
    logoutButton.addEventListener('click', userLogout);
    
    function userLogout(evt) {
        const logoutPopup = window.open('https://www.spotify.com/logout/', 'Spotify Logout', 'width=1,height=1,top=1000,left=1000');
        setTimeout(() => logoutPopup.close(), 500);

        evt.preventDefault();
        setTimeout(() => location.reload(), 500);
    }
</script>
</html>