<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../../static/css/album-cover-quiz.css">
<body>
    <header>
        <div>
            <a href="/index.html"><img th:src="@{/images/harmoniqlogo.png}" alt="Logo"></a>
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Quiz</a></li>
            </ul>
        </nav>
    </header>
    <h1>Quiz Results</h1>
    <p>Your Score: <span th:text="${score}"></span></p> 
</body>
</html>