<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pick your Quiz</title>
    <link rel="stylesheet" th:href="@{/css/quiz-menu.css}">
    <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="logo">
                <a href="/"><img src="/images/harmoniqlogo.png" alt="Logo"></a>
            </div>
            <nav>
                <ul>
                    <li><a href="profile">Home</a></li>
                    <li><a href="/quizzes/getAll">Quiz</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section class="quiz-section">
                <h1>PICK YOUR QUIZ</h1>
                <div class="quiz-cards">
                    <div class="quiz-card">
                        <a href="/quizzes/AlbumQuiz/getAll">
                            <div class="quiz-card-title">Album Cover</div>
                        </a>
                    </div>
                    <div class="quiz-card">
                        <a href="/quizzes/recognitionQuiz">
                            <div class="quiz-card-title">Song Recognition</div>
                        </a>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <footer>
        <a href="/logout" id="logoutButton"><button class="logout-button">Log Out</button></a>
    </footer>
</body>
<script>
    var logoutButton = document.getElementById("logoutButton");
    logoutButton.addEventListener('click', userLogout);
    
    function userLogout(evt) {
        const logoutPopup = window.open('https://www.spotify.com/logout/', 'Spotify Logout', 'width=1,height=1,top=1000,left=1000');
        setTimeout(() => logoutPopup.close(), 500);

        evt.preventDefault();
        setTimeout(() => location.reload(), 500);
    }
</script>
</html>